@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #13032b;
}

:root {
  --background: #13032b;
  --foreground: #171717;
  --mainblack: #27262b;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-manrope);
}
h1 {
  font-size: 24px;
  font-weight: 700;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .herotext {
    background: linear-gradient(
      100deg,
      #ff91ea 23.01%,
      #ff7a1b 42.07%,
      #c74af4 59.2%,
      #5c58ff 78.26%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .team {
    background: linear-gradient(180deg, #fff 0%, #030870 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .story {
    background: linear-gradient(
      180deg,
      #fff 0%,
      rgba(111, 116, 123, 0) 213.58%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .title {
    color: #ff9fe4;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }
  .herosub {
    background: linear-gradient(180deg, #fff 0%, #dadada 238.64%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .cardShadow {
    background: #13032b;
  }
  .ovsoge {
    font-family: var(--font-ov-soge), sans-serif;
  }
  .separator {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    );
  }
  .soon {
    background: linear-gradient(
      100deg,
      #ff91ea 23.01%,
      #ff7a1b 42.07%,
      #c74af4 59.2%,
      #5c58ff 78.26%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .bg {
    background: linear-gradient(
      248deg,
      #3bc9e8 41.67%,
      #a0dc93 61.23%,
      #f9dd41 70.79%,
      #fda759 78.39%,
      #e66482 85.55%
    );
    opacity: 0.5;
  }
  .rainbow {
    background: linear-gradient(180deg, #13032b 0%, #13032b 100%) padding-box,
      linear-gradient(
        248deg,
        #3bc9e8 41.67%,
        #a0dc93 61.23%,
        #f9dd41 70.79%,
        #fda759 78.39%,
        #e66482 85.55%
      ),
      border-box;
    border: 2px solid transparent;
  }
  .bluegrad {
    background: radial-gradient(
      121.35% 121.35% at 50% 50%,
      rgba(147, 216, 220, 0.25) 0%,
      #3ccae9 100%
    );
  }
  .greengrad {
    background: radial-gradient(
      73.22% 73.22% at 50% 50%,
      #effff5 0%,
      #8bd8a5 100%
    );
  }
  .starbg {
    background: linear-gradient(
      90deg,
      hsla(47, 100%, 54%, 1) 0%,
      hsla(51, 100%, 79%, 1) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .cardGrad {
    background: radial-gradient(
      121.35% 121.35% at 50% 50%,
      rgba(0, 0, 0, 0.25) 0%,
      #030870 100%
    );
  }
  .teachGrad {
    background: linear-gradient(180deg, #fff 0%, #030870 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gradBorder {
    border-bottom: 4px solid #3ccae9;
  }
  .cardText {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  }

  .gradbg {
    border-radius: 534px;
    border: 4px solid #3ccae9;
    background: linear-gradient(
      217deg,
      rgba(59, 201, 232, 0.5) 13.69%,
      rgba(160, 220, 147, 0.5) 36.45%,
      rgba(249, 221, 65, 0.5) 59.2%,
      rgba(253, 167, 89, 0.5) 83.89%,
      rgba(230, 100, 130, 0.5) 110.52%
    );
    filter: blur(160px);
  }

  select:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }
  .frame {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .frame::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 24px;
    padding: 2px;
    background: linear-gradient(
      248deg,
      #3bc9e8 41.67%,
      #a0dc93 61.23%,
      #f9dd41 70.79%,
      #fda759 78.39%,
      #e66482 85.55%
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: -10;
  }

  .outerFrame {
    border: 1.2px solid rgba(255, 255, 255, 0.4);
  }
}
