@tailwind base;
@tailwind components;
@tailwind utilities;

@import "/node_modules/locomotive-scroll/dist/locomotive-scroll";

body {
  margin: 0px;
  background-color: white;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --mainblack: #27262b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: ##13032b;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  /* padding: 40px; */
  overflow: hidden;

  background: var(--background);
  font-family: var(--font-manrope);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .gradtext {
    background: linear-gradient(
      248deg,
      #3bc9e8 41.67%,
      #a0dc93 61.23%,
      #f9dd41 70.79%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gradtext {
    background: linear-gradient(
      251deg,
      #3944d1 28.67%,
      #8f5aff 41.75%,
      #ffc567 54.83%,
      #f8623f 69.02%,
      #ff82a9 84.33%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .ovsoge {
    font-family: var(--font-ov-soge), sans-serif;
  }
  .bg {
    background: linear-gradient(
      248deg,
      #3bc9e8 41.67%,
      #a0dc93 61.23%,
      #f9dd41 70.79%,
      #fda759 78.39%,
      #e66482 85.55%
    );
    opacity: 0.5;
  }
  .bluegrad {
    background: radial-gradient(
      121.35% 121.35% at 50% 50%,
      rgba(147, 216, 220, 0.25) 0%,
      #3ccae9 100%
    );
  }
  .greengrad {
    background: radial-gradient(
      73.22% 73.22% at 50% 50%,
      #effff5 0%,
      #8bd8a5 100%
    );
  }
  .starbg {
    background: linear-gradient(
      90deg,
      hsla(47, 100%, 54%, 1) 0%,
      hsla(51, 100%, 79%, 1) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .cardGrad {
    /* border-radius: 16px;
    border: 1px solid rgba(120, 255, 87, 0.2); */
    background: radial-gradient(
      121.35% 121.35% at 50% 50%,
      rgba(0, 0, 0, 0.25) 0%,
      #030870 100%
    );
  }
  .teachGrad {
    background: linear-gradient(180deg, #fff 0%, #030870 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gradBorder {
    border-bottom: 4px solid #3ccae9;
  }
  .card {
    margin: 0 20px;
  }
  .card.odd {
    transform: translateY(50px);
  }
  .card.even {
    transform: translateY(-50px);
  }
}
